@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.colorInvert {
	background: inherit;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	filter: invert(1) grayscale(1) contrast(360);
}
